@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200&display=swap');

.App {
  text-align: center;
  height: 100%;
  max-height: 100vh;
  background-color: #15171b;
  /* width: 100vw; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#site_title > path {
  fill: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.marker {
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
  /* box-shadow: 5px 10px 1px 10px rgba(0,0,0,0.5); */
  background-color: white;
  border-radius: 50%;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  z-index: 100;
}

.marker:hover {
  background-color: black !important;
}

.marker-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}

.marker:hover > .marker-icon{
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
